/* Some CSS Styles - nothing to do with flexbox */
body {
  box-sizing: border-box;
  background: white;
}

img {
  width: 100%;
}

h1 {
  font-size: 50px;
  color: white;
  margin: 0;
  padding: 0;
}

.example1 {
  border: 10px solid #afa6ca;
  height: 70px;
  margin: 0;
  padding: 0;
}

.example1 li {
  background-color: lightgoldenrodyellow;
  list-style: none;
  padding: 20px;
  text-align: center;
  transition: 0.2s;
  margin-top: 5px;
  margin-bottom: 5px;
}

.example1 li:hover {
  background: goldenrod;
}

.example2 {
  background: url(https://unsplash.it/800/600/?image=43);
  height: 420px;
  background-size: cover;
}

.example3 .card-item {
  background: #fafafa;
  border: 1px solid #CECDCD;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  text-align: center;
 }

/* Exercise 1: Create a horizontal navigation with all links at the top right of the page.
Bonus: Change the order so Home is first and the only link left aligned.
Code goes here: */

.example1 {
  display: flex;
  justify-content: flex-end;
}

.home {
  order: -1;
  margin-right: auto;
}

/* Exercise 2: Center the headline horizontally and vertically in the hero image.
Code goes here: */

 .example2 {
   display: flex;
   justify-content: center;
   align-items: center;
}



/* Exercise 3: Arrange the cards into a responsive grid with each card's content aligned in a column.
Code goes here: */

.example3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  max-width: 500px;
  flex-basis: 400px;
  flex-grow: 1;
}
