body {
  background-color: #B7D3F5;
  font-family: 'Amatic SC', cursive;
  padding: 15px;
  font-size: 24px;
  color: #5B9CEC;
}

h1, h3 {
  color: #2D82EC;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}

img {
  width: 150px;
  border-radius: 100%;
}
